/*
======================================
; Title: game.css 
; Author: Chris Gorham
; Date: 04 Jan 2023
; Description: This code styles various things throughout the Space Game
; Sources Used: N/A
;=====================================
*/

body {
    background-color: #000;
    color: #f60;
    font-family: 'Space Grotesk', sans-serif;
}

canvas {
    border: 5px solid #fff;
    background-color: #000;
}

.start {
    float:top;
    font-size: large;
    padding: 6px;
    background-color: #FFF000;
    width: 150px;
    color: #000;
    border: none;
    border-radius: 8px;

}

.directional {
    font-size: medium;
    padding: 6px;
    background-color: #505050;
    width: 100px;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.missile {
    font-size: large;
    padding: 6px;
    background-color: #FF0000;
    width: 150px;
    color: #FFF;
    border-radius: 8px;
    border: none;
}

/* unfired / reset missile */
.missile2 {
    font-size: large;
    padding: 6px;
    background-color: #AAFF00;
    width: 150px;
    color: #000;
    border-color: #AAFF00;
    border-radius: 8px;
    border: none;
}

.table-design {
    border-style: solid;
    border-width: 3px;
    border-color: #FFF;
    width: 1410px;
}

.table-center {
    padding: 10px;
}